<p>current page {{ pageId() }}</p>
<a [routerLink]="[]" fragment="hero">Go Hero</a>
<div class="first" id="my-section" appHighlight>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt facere dolore
    tenetur dolores hic suscipit officia eum similique, at tempora voluptate
    repellendus ab architecto esse, vero, qui blanditiis fuga aliquam. Nobis
    magnam officiis voluptatem autem aut placeat tempora vel soluta, hic
    praesentium necessitatibus in. Quo reprehenderit pariatur repellat
    accusamus, numquam laudantium provident saepe necessitatibus ipsum impedit
    mollitia natus modi facere! Eos suscipit accusantium unde laudantium facilis
    minima, aperiam nihil at nam! Praesentium assumenda labore quia fuga enim
    iusto, optio hic rem alias maxime eum, quos asperiores sed libero expedita
    saepe. Itaque, fugiat esse dignissimos repudiandae doloribus minima
    molestias ipsum vitae voluptatibus dolor nulla eaque obcaecati deserunt quam
    fuga! Doloribus itaque ab hic quod sunt qui sapiente totam quae molestias
    ad. Quae dolor fugit inventore, quis nihil aliquid officiis dolore fuga quos
    dignissimos dicta voluptas accusamus totam provident eos deserunt, at, ipsam
    ut aut quo similique perspiciatis molestiae corporis. Vel, pariatur.
    Voluptatum, incidunt quis! Consequatur ex laborum neque rerum facere! Itaque
    quod iure nobis sunt optio omnis esse in placeat magni labore commodi et
    deserunt ea quos molestiae, asperiores error voluptatem. Vero ad, hic, optio
    in esse mollitia consequatur sunt molestiae accusantium vel quia nihil
    facilis eligendi qui odio cupiditate voluptatibus maiores? Explicabo earum
    numquam quidem, ea doloremque iure illo odit! Nulla quam odit, eum enim
    nesciunt quidem earum minima cumque, deleniti et, maxime voluptates? Alias
    magnam et id, odit ullam itaque modi ipsa expedita necessitatibus sint
    dolor, voluptate aperiam repellendus! Ipsam ab officiis nesciunt consectetur
    aut deleniti enim, veritatis sint rem id explicabo architecto perferendis
    non, velit debitis. Deserunt repellat libero odio hic delectus minima
    accusamus culpa minus aliquid quia? Quibusdam maiores iusto ut, enim, aut
    consectetur cum illo magni nisi saepe distinctio perspiciatis, repudiandae
    mollitia reiciendis modi labore a. Placeat, illo necessitatibus inventore
    voluptatem deleniti neque sunt eveniet corrupti! Velit quibusdam consequatur
    possimus molestiae cumque fuga, quos, ex enim labore accusamus nesciunt ut
    quae laboriosam nulla facere dolores. Pariatur consequuntur sequi corporis
    nisi eaque consectetur tempore esse debitis totam. Molestiae ab, veritatis
    autem totam eum nulla est sapiente, assumenda, rem doloremque quis maxime
    aut? Minus itaque ad facilis necessitatibus aliquid, reprehenderit
    voluptatem iure, nostrum aut quae magni velit voluptatum. Repellendus
    quisquam nihil incidunt ipsam placeat voluptates pariatur tempore, adipisci
    sunt dolorem alias, fuga sint officiis soluta nisi quas animi assumenda
    aspernatur. Quod, quis dolores repellat ad consequatur temporibus commodi?
    Officiis sapiente distinctio obcaecati quam, fuga facilis placeat rerum
    mollitia dolor minus ex, sequi adipisci numquam blanditiis repellendus
    voluptatibus aperiam? Eveniet doloribus sit excepturi repellendus enim autem
    blanditiis eligendi quae. Nam enim dolore laborum amet ipsa sint non quo
    odit, error impedit? Distinctio assumenda nihil labore magni sequi nesciunt,
    nobis rerum! Iusto nulla inventore id aliquid possimus veritatis eveniet
    ipsam! Distinctio, explicabo? Voluptatibus quo vero delectus dolor? Saepe
    ipsam error similique iusto dignissimos voluptatibus, a asperiores quis
    debitis incidunt iure labore quod pariatur inventore commodi, veritatis
    assumenda laudantium expedita sapiente. Ad aliquam, quia iure labore dolores
    excepturi. Ullam perferendis sed veritatis eligendi mollitia! Voluptatibus
    quasi, expedita aperiam beatae modi labore, veniam, esse minima aut iusto
    eos ipsa vero animi odio. Exercitationem necessitatibus quo dolor enim, sunt
    error! Sequi maiores, sunt molestiae ad porro in repellendus tempore, optio
    corporis culpa necessitatibus voluptatem. Porro nemo a at dolor, explicabo
    aliquid ab commodi? Dicta repudiandae rerum quaerat sunt, iusto quo ab qui
    quae ipsum, debitis provident, inventore quibusdam unde distinctio pariatur
    nihil dolores. Amet, unde repellat. Facilis iusto ullam ex, aliquid
    doloremque vero! Maxime aut facilis omnis nesciunt nobis perspiciatis
    assumenda necessitatibus error possimus consequatur, voluptatum tempora
    soluta debitis recusandae quis dolores, in voluptatem. Quisquam,
    voluptatibus. Quasi officiis itaque expedita quae eligendi minima? Id,
    perferendis a. Vitae labore ab corporis inventore esse dignissimos voluptas
    doloremque? A debitis nobis voluptatum officia molestias incidunt vel omnis
    quis ratione. Quis, delectus fugit et optio id porro. Magni ad ab nesciunt
    minus quia, odio deserunt aut, sint, quasi provident in mollitia veritatis
    necessitatibus dolorem laboriosam expedita aliquid pariatur quo accusantium.
    Quae, consequatur quisquam. Est nulla esse culpa. Et eius obcaecati
    temporibus nisi, officiis doloribus nemo. Similique modi accusamus
    perferendis, dolore natus ipsa magnam odit quibusdam incidunt labore
    nesciunt tenetur veniam recusandae, commodi voluptatum deleniti quas nihil
    esse. Adipisci velit ex sapiente neque facere commodi quis libero ut aut
    numquam culpa nobis vero obcaecati perspiciatis, dolore tempora. Minima,
    obcaecati? Fugiat provident quam minima blanditiis qui ab omnis tempora.
    Mollitia officiis similique at delectus corrupti iusto. Necessitatibus,
    nihil suscipit placeat laboriosam est aperiam, voluptatum quam rem non
    cumque aliquid voluptates quidem nemo possimus! Nobis impedit iusto vel
    maiores nesciunt! Perferendis doloremque voluptate labore deleniti optio
    saepe quo porro laudantium. Quos, quo modi. Similique soluta repellat esse
    id, doloribus nihil provident expedita exercitationem, autem numquam impedit
    rem facere consequuntur dolorem! Excepturi, minus. Laboriosam nulla
    repellendus magni qui quo omnis earum suscipit provident vero, rem
    consequatur, saepe assumenda voluptate veritatis expedita in rerum autem
    cumque ex, reiciendis dignissimos nostrum quos. Qui. Et accusantium
    doloremque harum ratione molestias quis ipsa maiores dicta tempora?
    Exercitationem repudiandae suscipit, odio praesentium eveniet architecto
    dolorum, sequi laboriosam ipsa numquam consequatur repellat quaerat nihil
    facere ex in? Qui distinctio voluptate quae iure pariatur at, doloribus
    provident neque numquam accusamus commodi perferendis non ipsa soluta illo
    vitae sint voluptas, quo excepturi error velit! Non reprehenderit vitae et
    quasi. Delectus eos cumque ipsa nostrum molestias eaque repudiandae odio,
    earum velit ut iste quas. Voluptate deleniti molestiae quae tempore sequi
    incidunt ducimus illo voluptas odio commodi, pariatur eos eaque porro!
  </p>
</div>

<div class="hero" id="hero">
  <p>I'm a hero dha</p>

  <a [routerLink]="[]" fragment="my-section">got to my section</a>
</div>
