<div class="sidebar-container" [ngClass]="{ expanded: sideNavExpanded() }">
  <div class="logo-container">
    @if(sideNavExpanded()){
    <span class="logo" @delayedText>Van Sales</span>
    }@else{
    <span class="logo" @delayedText>V</span>
    }
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <!-- For single & multiple level navigation -->
      @for(nav of navData; track nav.label){
      <li class="list-item">
        <!-- For Nested Routes -->
        @if(nav.items && nav.items.length > 0){
        <a
          class="nav-link"
          (click)="handleNavClick(nav)"
          [ngClass]="getActiveClass(nav)"
        >
          <fa-icon icon="{{ nav.icon }}" class="icon" />
          @if(sideNavExpanded()){
          <span class="label" @fadeInOut>{{ nav.label }}</span>
          <fa-icon
            icon="{{ !nav.expanded ? 'angle-right' : 'angle-down' }}"
            class="angle-icon"
          />
          }
        </a>
        @if(sideNavExpanded() && nav.items.length > 0){
        <app-sublevel-menu
          [collapsed]="sideNavExpanded()"
          [expanded]="nav.expanded"
          [data]="nav"
          [multiple]="multiple"
        />} }

        <!-- For single route -->
        @else{
        <a
          class="nav-link"
          [routerLink]="nav.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="shrinkItems(nav)"
        >
          <fa-icon icon="{{ nav.icon }}" class="icon" />
          @if(sideNavExpanded()){
          <span class="label" @fadeInOut>{{ nav.label }}</span>
          }
        </a>
        }
      </li>
      }
    </ul>
  </nav>
</div>
