<div class="appContainer">
  <span class="scroll-progress" [ngStyle]="{ width: progress() + '%' }"></span>
  <app-side-nav [sideNavExpanded]="sideNavExpanded()" />
  <div
    class="content"
    [ngClass]="{
      'md-expanded': this.screenWidth <= 768 && this.sideNavExpanded()
    }"
  >
    <app-header
      [sideNavExpanded]="sideNavExpanded()"
      (onToggle)="toggleSideNav()"
    />
    <input type="text" appNumbersOnly />
    <!-- {{ mapCheck() }} -->
    <a
      [routerLink]="'/pages/3'"
      [queryParams]="{ filter: false, sorting: false }"
      [fragment]="'hero'"
      >Go to a random page</a
    >
    <router-outlet />
  </div>
</div>
