@use "utils";
.appContainer {
  position: relative;
  display: flex;
  max-width: 2000px;
  margin: 0 auto;
  .content {
    @include utils.flex-column();
    flex: 1;
    padding-inline: utils.rem(18);
    transition: margin-left 0.6s ease-in-out;
    &.md-expanded {
      margin-left: utils.rem(256);
    }
  }
}
